{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{%  extends "NHPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block nhplatform_body %}

<h2>INDEX / Boucle sur la variable LISTADVERTS</h2>
    <ul>
        {#1ère boucle sur la variable listAdverts#}
        {% for advert in listAdverts %}
        <li>
            <a href="{{ path('nh_platform_view', {'id': advert.id}) }}">
                {{ advert.title }}
            </a>
            par {{ advert.author }},
            le {{ advert.date|date('d/m/Y') }}
        </li>
        {% else %}
        <li>Pas d'annonces..... pour le moment! </li>
        {% endfor %}
    </ul>

{% endblock %}

